@font-face {
    font-family: HarryPotterCustomFont;
    src: url('../fonts/HARRYP__.TTF');
}

@font-face {
    font-family: LumosCustomFont;
    src: url('../fonts/LUMOS.TTF');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url('../imgs/pageBackground3.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
  display: none;
  height: 70%;
  overflow: auto;
  margin: 50px 0 0 50px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#main h1 {
    display: block;
  font-family: 'HarryPotterCustomFont';  
  font-size: 100px;
  font-weight: lighter;
  color: #B0864B;
  margin-top: 100px;
  margin-left: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
    font-family: 'HarryPotterCustomFont';  
    font-size: 40px;
  font-weight: lighter;
  color: #B0864B;
  margin-left: 180px;
  margin-bottom: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
  display: block;
  width: 175px;
  margin: 20px 200px;
  height: 50px;
  line-height: 30px;
  border: 1px solid #7f6000;
  background: #f4c743;
  background: -moz-linear-gradient(top, #f4c743 0%, #b0864b 100%);
  background: -webkit-linear-gradient(top, #f4c743 0%,#b0864b 100%);
  background: linear-gradient(to bottom, #f4c743 0%,#b0864b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4c743', endColorstr='#b0864b',GradientType=0 );
  font-family: 'Lumos';
  font-weight: bold;
  font-size: 34px;
  color: #715438;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4c743', endColorstr='#b0864b',GradientType=0 );
  border-radius: 2px;
  text-align: center;
}

.top-scores {
    font-family: "LumosCustomFont";
    font-weight: bolder;
    font-size: 25px;
    border-collapse: collapse;
    width: 500px;
}

.top-scores td, .top-scores th {
    border: 1px solid #ddd;
    padding: 8px;
}

.top-scores tr:nth-child(even){background-color: #f2f2f2;}

.top-scores tr:nth-child(odd){background-color: white;}

.top-scores th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #C89D48;
    color: #715438;
    font-weight: bold;
}

.high-score .button {
  display: block;
  position: absolute;
  top: 80%;
  left: 60%;
  margin: 10px auto;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

#high-score {
  display: none;
  height: 60%;
  width: 80%;
  overflow: visible;
  margin: 50px 0 0 50px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#end-screen {
  display: none;
  height: 60%;
  width: 60%;
  overflow: auto;
  margin: 50px 0 0 50px;
  position: absolute;
  top: 100px;
  left: 200px;
}

#end-screen h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #7f6000;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    font-size: 15px;
}

input[type=submit] {
    width: 100%;
    border: 1px solid #6b4e34;
    background-color: #b0864b;
    color: #634930;
    font-family: 'LumosFontFamily';
    font-size: 30px;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #7a5635;
}

label {
    color: #634930;
    font-family: 'LumosFontFamily';
    font-size: 20px;
    font-weight: bold;
}

#form {
    width: 50%;
    border-radius: 2px;
    padding: 20px;
    background: #D1A647;
  background: -moz-linear-gradient(top, #D1A647 0%, #b0864b 100%);
  background: -webkit-linear-gradient(top, #D1A647 0%,#b0864b 100%);
  background: linear-gradient(to bottom, #D1A647 0%,#b0864b 100%);

}

canvas {
    position: absolute;
    margin: 50px 0 0 50px;
}

.smallerCanvas{
    margin: 73px 0 0 82px;
}

#background-canvas {
    z-index: 1;
}

#obstacle-canvas{
    z-index: 10;
}

#bolt-canvas{
    z-index: 500;
}

#player-canvas {
    z-index: 100;
}

.sprite-image {
    display: none;
}

#creditsWrapper {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 450px;
  margin-left: -200px;
  font: 300 30px/1 'Lumos', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 60s credits linear infinite;
}

.game {
  margin-bottom: 50px;
  font-size: 100px;
  font-family: 'HarryPotterCustomFont';
  text-transform: capitalize;
}

.team {
  margin-bottom: 5px;
  font-size: 20px;
}

 .name {
  margin-bottom: 50px;
  font-size: 35px;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}

#currentScore {
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-family: 'LumosCustomFont';
    font-weight: bold;
    text-align: center;
    background: #f4c743;
    background: -moz-linear-gradient(top, #f4c743 0%, #b0864b 100%);
    background: -webkit-linear-gradient(top, #f4c743 0%,#b0864b 100%);
    background: linear-gradient(to bottom, #f4c743 0%,#b0864b 100%);
    color: #664b33;
    
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 999;
    display: block;
    padding: 10px 0px;
}