@font-face {
    font-family: HarryPotterCustomFont;
    src: url('../fonts/HARRYP__.TTF');
}

@font-face {
    font-family: LumosCustomFont;
    src: url('../fonts/LUMOS.TTF');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-image:url('../imgs/pageBackground3.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
  display: none;
  height: 60%;
  overflow: auto;
  margin: 50px 0 0 50px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#main h1 {
  color: yellow;
  margin: 100px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
  display: block;
  width: 150px;
  margin: 10px 150px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  color: #a3a375;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #ffff66;
  border-radius: 5px;
  text-align: center;
}

canvas {
    position: absolute;
    margin: 50px 0 0 50px;
}

#background-canvas {
    z-index: 1;
}

#player-canvas {
    z-index: 10;
    margin: 70px 0 0 80px;
}

.sprite-image {
    display: none;
}

#creditsWrapper {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 450px;
  margin-left: -200px;
  font: 300 30px/1 'Lumos', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 60s credits linear infinite;
}

.game {
  margin-bottom: 50px;
  font-size: 100px;
  font-family: 'HarryPotterCustomFont';
  text-transform: capitalize;
}

.team {
  margin-bottom: 5px;
  font-size: 20px;
}

 .name {
  margin-bottom: 50px;
  font-size: 35px;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}