*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url('../imgs/pageBackground3.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
  display: none;
  height: 60%;
  overflow: auto;
  margin: 50px 0 0 50px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#main h1 {
  color: yellow;
  margin: 100px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
  display: block;
  width: 150px;
  margin: 10px auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  color: #a3a375;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #ffff66;
  border-radius: 5px;
  text-align: center;
}

canvas {
    position: absolute;
    margin: 50px 0 0 50px;
}

#background-canvas {
    z-index: 1;
}

#player-canvas {
    z-index: 10;
    margin: 70px 0 0 80px;
}

.sprite-image {
    display: none;
}